.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-white;
  border-radius: 3rem;
  height: 30vh;
  width: 80vw;
  max-width: 350px;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  form {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
    }
    div:last-child {
      margin-top: 3rem;
    }
  }
}

.input-login {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.divisor-form {
  display: flex;
  flex-direction: row;
  margin: 10px 40px 18px;
  div:first-child {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: $color-black;
    height: .1rem;
    width: 7rem;
    position: relative;
    top: 1em;
  }
  div:nth-child(2) {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    margin: 0 18px;
    text-transform: uppercase;
  }
  div:last-child {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: $color-black;
    height: .1rem;
    width: 7rem;
    position: relative;
    top: 1em;
  }
}
