.contenedor_titulo {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    & h1 {
      color: $color-white;
      font: {
        family: $fTitulos;
        size: 3.6rem;
      }
  
      span {
        color: $color-blue;
      }
    }
  }
  
  .container-logo_home {
    // display: grid;
    // gap: 1rem;
    // grid-auto-rows: 22rem;
    // grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    // align-items: center;
    .logo-home-phone {
      // grid-column: span 2;
      width: 80%;
    }
  
    @include large {
      .logo-home-phone {
        width: 30%;
      }
    }
  }
  
  .nav-container-home {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    gap: 1rem;
  }
  
  // .nav-home {
  //   font: {
  //     family: $fBody;
  //     size: 2rem;
  //   }
  // }
  
  .container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 3rem;
  }
  