@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@font-face {
  font-family: Gilroy-Light;
  src: url(../../assets/fonts/Gilroy-Light.otf) format("opentype");
}
@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(../../assets/fonts/Gilroy-ExtraBold.otf) format("opentype");
}

body {
  font-family: "Gilroy-Light";
  font-weight: 800;
  line-height: 1.7;
}
