// COLORES

$color-white: #f4f4f4;
$color-White: #ffffff;
$color-black: #242424;
$color-blue: #07adef;

// FUENTES

$fTitulos: "Lilita One", cursive;
$fBody: "Gilroy-Light";
$fBodyBold: "Gilroy-ExtraBold";
