.profileHeader {
    z-index: 2;
    background-color: $color-white;
    margin-top: -4.2rem;
    overflow: hidden;
    position: fixed;
    width: 100%;
    text-align: center;

    display: flex;
    
    // padding-bottom: 3rem;
    // & h1 {
    //   color: $color-black;
    //   font: {
    //     family: $fTitulos;
    //     size: 3.6rem;
    //   }
  
    //   span {
    //     color: $color-blue;
    //   }
    // }
  }