.container-singlePost {
  display: flex;
  flex-direction: column;
  margin-top: 6.5rem;
  // margin-bottom: -15rem;
}

.container-PostsExplore {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //   grid-auto-rows: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-content: center;
  overflow: hidden;

  // margin: 0 auto; width: 60%;

  @include respond(phone) {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    padding-bottom: 7rem;
    // margin: 0 auto; width: 80%;
  }

  // @include respond(tab-port) {
  //   grid-column-gap: 2px;
  //   grid-row-gap: 2px;
  //   margin: 0 auto; width: 90%;
  // }

  & > *:nth-child(18n + 2) {
    grid-column: 2 / -1;
    grid-row: span 2;
  }

  & > *:nth-child(18n + 10) {
    grid-column: 1 / span 2;
    grid-row: span 2;
  }
}

.singlePostImage {
  // display: flex;
  width: 100%;
  height: auto;
  //   //   max-height: 40vh;
//   border-radius: 1rem;
  // object-fit: cover;
}
