.text-center {
  text-align: center !important;
}

.mb-sm {
  margin-bottom: 0.5rem !important;
}

.mb-md {
  margin-bottom: 1rem !important;
}

.mb-lg {
  margin-bottom: 2rem !important;
}

.mr-lg {
  margin-right: 2rem !important;
}

.ml-sm {
  margin-left: 0.5rem !important;
}

.mt-lg {
  margin-top: 2rem !important;
}

.font-thin {
  font-weight: 300 !important;
}

.font-medium {
  font-weight: 400 !important;
}

.font-bold {
  font-weight: 600 !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.color-white {
  color: $color-white !important;
}

.color-blue {
  color: $color-blue !important;
}

.color-black {
  color: $color-black !important;
}

.link-white {
  color: $color-white;
  text-decoration: none;
}
.link-black {
  color: $color-black;
  text-decoration: none;
}
.link-blue {
  color: $color-blue;
  text-decoration: none;
}